.navbar {
  background: #fff;
  height: 65px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 500;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);

}
li {
  list-style: none;
  margin-top: 10px;
  display: inline-block;
}

img {

  height: 30px;
  width: 30px;
  display: block;
  margin-right: -20px;
  margin-bottom: 7px;
  
}
.navbar-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 1500px;
  padding-left: 20px;


}
.button2 {
  background-color: white;
  border-color:rgb(74, 80, 86);
  color: rgb(74, 80, 86);
  margin-bottom: 4px;
}
.button {
  background-color: white;
  margin-left: 950px;
  border-color:rgb(74, 80, 86);
  color: rgb(74, 80, 86);
  margin-bottom: 4px;
  margin-right: 20px;
}
.button:hover {
  background-color: rgb(29, 42, 62);
  border-color:rgb(29, 42, 62);
  color: white;
}
.button2:hover {
  background-color: rgb(29, 42, 62);
  border-color:rgb(29, 42, 62);
  color: white;
}




@media screen and (max-width: 960px) {

}